<section class="text-center">
    <h1>Movies API Test with Express</h1>
</section>
<section>
    <div class="error"></div>
</section>
<section class="card mt-5 p-3 mx-auto" style="max-width: 800px;">
    <form>
        <div class="d-flex flex-column mb-2">
            <label for="title">Enter Movie Title</label>
            <input
                class="form-control"
                type="text"
                name="title"
                id="title"
                required
            />
        </div>
        <div class="d-flex flex-column mb-2">
            <label for="genre">Enter Movie Genre</label>
            <input
                class="form-control"
                type="text"
                name="genre"
                id="genre"
                required
            />
        </div>
        <div>
            <button id="add-movie" class="btn btn-primary">Add Movie</button>
        </div>
    </form>
</section>
<section class="card mt-5 p-3 mx-auto" style="max-width: 800px;">
    <div class="d-flex gap-4 form-group">
        <input
            class="form-control"
            id="movie-id-box"
            type="number"
            placeholder="Enter Movie Id to view details"
            required
        />
        <button class="btn btn-primary w-40" id="movie-by-id">
            Fetch Movie By Id
        </button>
    </div>
</section>
<section class="card mt-5 p-3 mx-auto" style="max-width: 800px;">
    <div>
        <button id="fetch-all-movies" class="btn btn-success mt-2">
            Fetch All Movies
        </button>

        <table class="table movie-details-tbl">
            <thead>
                <th>Movie ID</th>
                <th>Title</th>
                <th>Genre</th>
            </thead>
            <tbody id="movieList"></tbody>
        </table>
    </div>
</section>